<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerBase.Properties.Settings.casree_databaseConnectionString"
            connectionString="Data Source=CSDSERVER\SQLEXPRESS;Initial Catalog=casree_database;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="ServerBase.Properties.Settings.CASREE_SERVER_DATABASEConnectionString"
            connectionString="Data Source=CSDSERVER\SQLEXPRESS;Initial Catalog=CASREE_SERVER_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerBase.Properties.Settings.CASREE_SFTA_DATABASEConnectionString"
            connectionString="Data Source=CSDSERVER\SQLEXPRESS;Initial Catalog=CASREE_SFTA_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerBase.Properties.Settings.CASREE_SERVER_DATABASEConnectionString1"
            connectionString="Data Source=LILUYI-PC\sqlexpress;Initial Catalog=CASREE_SERVER_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerBase.Properties.Settings.CASREE_SFTA_DATABASEConnectionString1"
            connectionString="Data Source=LILUYI-PC\sqlexpress;Initial Catalog=CASREE_SFTA_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerBase.Properties.Settings.CASREE_SERVER_DATABASEConnectionString2"
            connectionString="Data Source=XUGUOJUN-PC\SQLEXPRESS;Initial Catalog=CASREE_SERVER_DATABASE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>